html, body{
    font-size: 16px;
    background-color: rgb(116, 196, 129);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.goods{
    background-color: rgb(96, 182, 96);
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    

}

.img-center{
    text-align: center;
}

.article{
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid black;
}

.good{
    position: relative;
    width: 25%;
    padding: 1rem;
    height: 35rem;
    overflow: auto;
    display: inline-block;  
    vertical-align:top;
    border: 1px solid #c6c6c6;
    border-radius: .3rem;
    box-sizing: border-box;
    background-color: white;
}

.good .img-center img {
    max-width: 100%; 
    max-height: 15rem;
}

.good-description{
   font-style: italic;
}

.good-name{
    font-weight: 900;
}

.good-price{
    font-style: italic;
    color: red;
}

.add-to-cart img{
    width: 2.5rem;
}

.sale img{
    width: 5rem;
}

.sale{
    position: absolute;
    display: inline-block;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
}

.add-to-cart{
    position: absolute;
    display: inline-block;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}    

.go-top{
    position: fixed;
    margin-top: -1.1rem;
    top: 50%;
    right: 0;
    background-color: red;
    padding: .5rem 1.2rem;
    border-top-left-radius: .3rem ;
    border-bottom-left-radius: .3rem;
    cursor: pointer;
}
      
